*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #9DD9F4;
  background-image: url(img/grille.svg);
  z-index: 0;
  overflow-y : hidden;
}

 html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

header {
  height: 100vh;
}





/* Page d'accueil - animation */
span{
	font-family: hatch, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin-top: 7%;
	size: 60px;
}

.text{
  position: absolute;
  width: 900px;
  left: 36.5%;
  margin-left: -235px;
  height: 40px;
  top: 40.5%;
  font-size: 35px;
  margin-top: -90px;
  font-family: hatch, serif;
  font-weight: 300;
  font-style: normal;
}

p{
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 600px;
  opacity: 0;
  text-align: center;
  font-size: 75px;
  margin-left: 43%;
  margin-top: 12.5%;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}






/* QUIZZ */
.blanc{
  width: 41%;
  height: 441px;
  z-index: -1;
  margin-left: 49%;
  background-color: white;
  border-radius: 30px;
  margin-top: 27.5%;
}

.quizz{
  width: 37%;
  margin-left: 49%;
  margin-top: -33%;
  background-color: rgb(251, 222, 24, 0.6);
  padding: 2%;
  clear: left;
  border-radius: 30px;
}

.question2, .question3, .question4, .question5{
  display: none;
}

h2, h3,div{
  text-align: center;
}

#carre, #care, #carree, #carre0, #carre5{
  height: 40px;
  width: 500px;
  margin-left: 3%;
  display: flex;
  background-color: white;
  border-radius: 30px;
  border: 3px solid white;
  z-index: 2;
}

#carre2, #carre3, #carree2, #carree3, #care2, #care3, #carre1, #carre4, #carre6, #carre7{
  height: 40px;
  width: 500px;
  margin-left: 3%;
  display: flex;
  background-color: white;
  border-radius: 30px;
  border: 3px solid white;
}

 h3{
  margin-bottom: 7%;
  margin-top: 2%;
 }

div{
  align-items: center;
  display: flex;
  margin-top: 2%;
  width: 10px;
}

.vrai, .faux{
  margin-left: 40px;
  margin-top: -30px;
}

button{
  margin-top: 5%;
  position: center;
  width: 250px;
  height: 40px;
  background-color: lightgrey;
  border-radius: 30px;
  border: none;
}

.white{
	background-color: white;
}

.button1{
	margin-left: -8%;
}

.button2, .button3{
	margin-left: -2%;
}

.button4{
	margin-left: -19%;
}

.button5{
	margin-left: 26%;
	margin-top: 2%;
}

.none{
  display: none;
}

.yes{
  display: block;
}

.quizz h3{
	font-style: italic;
}



/* Page1 - 2 premiers blocs textes + img orange */
.vert{
	font-family: hatch, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;
	background-color: #30b564;
	color: white;
	width: 78.5%;
	padding: 4% 4% 5% 6%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px #505050 solid;
	text-align: left;
}

.jaunee{
	font-family: hatch, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;
	background-color: #fbde18;
	width: 78.5%;
	padding: 4% 4% 4% 6%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px #505050 solid;
	text-align: left;
}

.blancc{
	background-color: white;
	width: 78.5%;
	padding: 5% 5% 7% 5%;
	margin-left: -20%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px #505050 solid;
	font-family: hatch, serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
}
.img1{
	width: 300px;
}

.carre1{
	height: 15px;
    width: 15px;
    background: none;
    border: 1px black solid;
    margin-top: -6%;
    margin-left: 87%;
}

.carre2{
	height: 15px;
    width: 15px;
    background: none;
    border: 1px black solid;
    margin-top: -5%;
    margin-left: 95%;
}

.div1{
	margin-top: -17%;
	margin-left: 80%;
}

.img2{
	margin-left: 60%;
	float: left;
	width: 30%;
	margin-top: -36.5%;
}

.ges{
	margin-left: 33.4%;
}

.ges img{
	width: 430px;
	margin-top: 55px;
	z-index: -1;
}

.partie1{
  height: 100vh;
  margin-bottom: 2%;
}

.partie1 article h2{
  padding-bottom: 1%;
  margin-left: -20%;
}

.partie1{
  float: left;
}

.partie1 .texte{
  width: 30%;
  margin-left: 26%;
  margin-top: 2.3%;
}

.partie1 .texte2{
  width: 30%;
  margin-top: 3%;
  margin-left: 16%;
}






/* Page 2 - 2 msg en image + feuille en background */
.partie2{
  display: flex;
  height: 40vh;
  width: 100%;
  margin-top: -3.5%;
}

.partie2 article{
	float: left;
}

.img3{
  width: 30%;
  float: left;
  margin-left: -9.5%;
  position: absolute;
  margin-top: 8%;

}
.img4{
  width: 45%;
  float: left;
  margin-left: 20.5%;
  margin-top: 37%;
}

.img7{
	width: 470px;
	margin-left: -20%;
	margin-top: 30%;
	transform: rotate(25deg);
}







/* Page 3 - img verte + glace + bloc de texte */
.partie3{
  float: left;
  margin-top: 5%;
}


.img5{
  width: 30%;
  float: left;
  margin-left: 10%;
  margin-top: -25.7%;
  position: absolute;
}

.img6{
  width: 30%;
  float: left;
  margin-left: 33.4%;
  margin-top: 11.5%;
  position: absolute;
}

.text3{
  width: 30%;
  margin-left: 16%;

}

.partie4 .text3{
	margin-top: 60.5%;
}

.partie4 .vert{
	height: 2px;
	margin-left: -20%;
	margin-top: -35%;
}




/* Feuille background droite */
.img8{
	width: 400px;
	transform: rotate(220deg);
	margin-top: -350%;
}

.div{
	width: 430px;
	margin-left: 67%;
}



/* Page 4 - conversation par msg + img moyen age */
.bulle{
	width: 100px;
}

.divbulle{
	margin-top: -5%;
	margin-left: 60%;
} 

.img9{
	width: 30%;
	margin-left: 50%;
}

.chaud{
	width: 33.5%;
	margin-left: 10%;
	margin-top: -15.5%;
}


h6 {
    font-size: 0.8em;
    margin: 1em 0;
    font-family: hatch, sans-serif;
    color: black;
  }

  h6 em { font-weight: bold;}

.chat blockquote {
  font-size: 13px;;
  line-height: 1.5;
  max-width: 75%;
  margin-bottom: 0.5ex;
  display: inline-block;
  font-family: roc grotesk, sans-serif;
  padding: 0.5ex 1em;
  position: relative;
  box-shadow: 0 15px 1px -12px rgba(0,0,0,0.05);
}

.chat .them, .chat .me { margin-bottom: 1ex;}
.chat .them { text-align: left;}
.chat .me { text-align: left; 
margin-left: 22%;
width: 90%;}
.chat .me21{
margin-left: 31%;
margin-bottom: 2%;
width: 90%;
}
.chat .me2{
margin-left: 22%;
margin-bottom: 2%;
text-align: left;
width: 90%;
}
.chat .typing{
	margin-left: -92%;
}
.them{list-style-type: none;}
.me, .me2{ list-style-type: none;}
.me, .me21{list-style-type: none;}
.typing{ list-style-type: none;}

blockquote:last-child::before {
  display:block;
  position: absolute;
  z-index: -999;
  border: 1ex solid transparent;
  bottom: 0;
  border-radius: 1em/1ex;
  z-index: 2;
}

.chat .them blockquote { background-color: #ccc; }
.chat .them blockquote:last-child::before {
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  left: -0.8ex;
  content: "";
  z-index: 2;
}

.chat .me blockquote {
  background-color: #007AFF;
  background-image: linear-gradient(180deg,#007AFF,#1D62F0);
  color: white;
}

.chat .me blockquote:last-child::before {
  content: "";
  right: -0.8ex;
  border-bottom-color: #1D62F0;  
  border-left-color: #1D62F0;
  z-index: 2;
}

.chat .me2 blockquote {
    background-color: #007AFF;
    background-image: linear-gradient(180deg,#007AFF,#1D62F0);
    color: white;
  }
  .chat .me2 blockquote:last-child::before {
    content: "";
    right: -0.8ex;
    border-bottom-color: #1D62F0;  
    border-left-color: #1D62F0;
    z-index: 2;
  }

.chat .me21 blockquote {
  background-color: #007AFF;
  background-image: linear-gradient(180deg,#007AFF,#1D62F0);
  color: white;
  margin-bottom: 0.5ex;
 
}

.chat .me21 blockquote:last-child::before {
  content: "";
  list-style: none;
  right: -0.8ex;
  border-bottom-color: #1D62F0;  
  border-left-color: #1D62F0;
  z-index: 2;
}

.chat .typing blockquote { 
    margin-left: 1vw;
    background-color: #ccc;
    font-weight: bold;
  }
  .chat .typing blockquote:last-child::before {
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  left: -0.8ex;
  content: "";
  z-index: 2;   
  }

 .divv{
    width: 400px;
    display: flex;
    margin-top: -1%;
    margin-left: 4%;
    flex-direction: column;
  	align-items: center;
 }

 .msgg{
   background: white;
   	width: 420px;
   	margin-left: 60%;
    display: flex;
    margin-top: -1%;
    flex-direction: column;
  	align-items: center;
  	padding-bottom: 1%;	
 }






/* signe euro background droite */
.ig1{
	width: 200px;
}

.divig{
	margin-top: -13%;
	margin-left: 65%;
	width: 200px;
}


/* Feuille background gauche */
.div2{
	width: 550px;
	margin-top: -5%;
}

.img10{
	width: 600px;
}




/* Page5 - img PQ + img tête bleu */
.page3{
	margin-top: -14%;
}

.page3 article .chaud{
	margin-top: -2.5%;
	margin-left: 20%;
}
.page5{
	margin-top: -1%;
}

.audio{
	float: left;
	margin-left: 14%;
	margin-top: 7%;
}



/* Feuille background droite */
.div3{
	width: 600px;
	margin-top: 55%;
	margin-left: 75%;
}





/* Page 6 - img Mars + bloc de texte */
.page4 .chaud{
	margin-top: -56%;
}

.page4 .text4{
  width: 30%;
  margin-left: 66%;
  margin-top: -23%;
}

.page4 .text4 .vert{
	margin-left: -20%;
	height: 1px;
}

.page5 .img2{
	margin-top: -16%;
}



/*Titre + puzzle*/
.img11{
	width: 200px;
	margin-top: 22%;
	margin-left: 25%;
}

.imgg11{
	width: 200px;
	margin-left: 5%;
}

h4{
	margin-top: -7%;
	font-family: hatch, sans-serif;
	font-size: 25px;
	text-align: center;
}

.pasgras{
	font-family: hatch, sans-serif;
	font-weight: normal;
}





/* Drag & drop */
.partie4{
  height: 60vh;
  margin-top: 10vh;
}

#box1 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 0;
  left: 33.3%;
  margin-top: 0.8%;
}

#box2 {
  width: 150px;
  height: 150px;
  background-color: green;
  position: absolute;
   z-index: 0;
   left: 44.8%;
   margin-top: 0.8%;
}

.img{
  width: 150px;
}

#box3 {
  width: 150px;
  height: 150px;
  background-color: yellow;
  position: absolute;
  z-index: 0;
  left: 56.3%;
  margin-top: 0.8%;
}

#box4 {
  width: 150px;
  height: 150px;
  background-color: blue;
  position: absolute;
  z-index: 0;
  left: 33.3%;
  margin-top: 12.4%;
}

#box5{
	width: 150px;
  height: 150px;
  background-color: blue;
  position: absolute;
  z-index: 0;
  left: 44.8%;
  margin-top: 12.4%;
  
}

#box6{
	  width: 150px;
  height: 150px;
  background-color: green;
  position: absolute;
   z-index: 0;
   left: 56.3%;
   margin-top: 12.4%;
}

#box7{
	width: 150px;
  height: 150px;
  background-color: yellow;
  position: absolute;
  z-index: 0;
  left: 33.3%;
  margin-top: 24%;
}

#box8{
	width: 150px;
  height: 150px;
  background-color: yellow;
  position: absolute;
  z-index: 0;
  left: 44.8%;
  margin-top: 24%;
}

#box9{
	width: 150px;
  height: 150px;
  background-color: yellow;
  position: absolute;
  z-index: 0;
  left: 56.3%;
  margin-top: 24%;
}





/* Footer */
footer{
	background-color: #fbde18;
	height: 3em;
}

footer a{
  color: black;
  text-decoration: none;
  font-family: hatch, sans-serif;
font-weight: 500;
}

footer li{
  float: left;
  margin-left: 20%;
  margin-top: 1%;
  list-style: none;
}

.arbre{
	width: 500px;
	z-index: -2;
}

#arbre{
	width: 500px;
	margin-left: 60%;
	margin-top: -30%;
	margin-bottom: -5%;
	z-index: -3;
}

.explication{
	width: 50%;
	margin-left: 20%;
	margin-top: -6%;
}

.explications{
	width: 25%;
	margin-top: 5%;
	margin-left: 60%;
}

.explicatio{
	width: 35%;
	margin-left: 10%;
	margin-top: -5%;
}

audio{
	margin-top: 16%;
	margin-bottom: 10%;
	margin-left: 10%;
}
.page5 article .jaunee{
	width: 110%;
	height: 1em;
	margin-left: 30%;
	margin-top: 27%;
}
.page5 article .blancc{
	width: 110%;
	margin-left: 30%;
}




/*Page des sources*/
.sources article a{
	font-size: 15px;
	text-align: left;
	margin-left: 10%;
}

.sources article h2{
	font-size: 20px;
	text-align: left;
	margin-left: 10%;
}




.scrollme{
    opacity:0;
}








.partieverte{
	width: 5%;
	height: 85vh;
	background-color: #30b564;
	border: 1px black solid; 
	margin-left: 92%;
	margin-top: -12%;
}

.partievertee{
	width: 5%;
	height: 85vh;
	background-color: #30b564;
	border: 1px black solid; 
	float: left;
	margin-left: 3%;
	margin-top: 3%;
}

footer{
	clear: all;
}

.apropos{
	height: 100vh;
	width: 100%;
}

.bianco{
	width: 30%;
	background-color: white;
	border: 1px black solid;
	padding: 30px;
	float: left;
	margin-left: 7%;
	margin-top: 3%;
}

.bianco h1{
	font-family: roc grotesk, sans-serif;
	font-weight: 700; 
	font-size: 20px;
	width: 200px;
	color: #30B564;
}

hr{
	width: 180px;
	border: 1px black solid;
	margin-left: 5%;
}

.apropos h2{
	font-family: hatch, sans-serif;
	font-weight: 500; 
	padding-top: 12%;
	margin-right: 47%;
	font-size: 17px;
}

.biancoo{
	width: 100%;
	background-color: white;
	padding: 20px;
	border: 1px black solid;
	font-family: hatch, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
}


.biancoo:first-letter{
  	font-family: roc grotesk, sans-serif;
  	font-weight: 700;
  	font-size : 55px;
  	color : #30B564;
  	padding:1px 2px 2px 0;
 	margin-right:5px;
  	float : left;
}

.article2 div{
	width: 90%;
}

.article3 div{
	width: 90%;
}

.article3{
	height: 30vh;
}

.article3 .bianco{
	width: 20%;
}


.article2 .bianco{
	width: 20%;
}


#car1, #carr1{
	width: 30%;
	height: 30%;
 	position: absolute;
  	z-index: 0;
  	left: 18%;
  	margin-top: 10%;
  	text-align: left;
}

#carr1{
	margin-top: 15%;
}

#car2, #carr2{
	width: 30%;
	height: 25%;
 	position: absolute;
  	z-index: 0;
  	left: 15%;
  	margin-top: 25%;
  	text-align: left;
}

#car3, #carr3{
	width: 30%;
	height: 25%;
 	position: absolute;
  	z-index: 0;
  	left: 40%;
  	margin-top: 7%;
  	margin-left: 12%;
  	text-align: left;
}

#car4, #carr4{
	width: 30%;
	height: 25%;
 	position: absolute;
  	z-index: 0;
  	left: 56%;
  	margin-top: 20%;
  	text-align: left;
}

#carr5{
	width: 30%;
	height: 25%;
 	position: absolute;
  	z-index: 0;
  	left: 46%;
  	margin-top: 30%;
  	text-align: left;
  	color: black;
}

.bas{
	margin-top: 5%;
}

#carr5 a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}

#carr4 a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}

#carr3 a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}

#carr2 a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}

#carr1 a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}

.dragzone{
	height: 100vh;
}

.bianco img{
	width: 15%;
}

